@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model FaturaViewModel

@{
    ViewBag.Title = "Dinamik";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<br />
<div class="panel d-block">
    <div class="panel-heading border border-dark">
        <div class="row d-block p-2">
            <h3 class="panel-title pl-2" style="margin-left:10px;">
                <strong>Fatura &amp; Kalem İşlemleri</strong>
                <button style="margin-right:10px" class="btn btn-dark float-right mr-4" onclick="addNewOrder()">Fatura Girişi</button>
            </h3>
        </div>
    </div>
    <br />
    @* Fatura Listesi *@
    @foreach (var item in Model.deger1)
    {
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Seri-Sıra No : @item.FaturaSeriNo - @item.FaturaSiraNo</td>
                        <td>Cari: @item.TeslimEden </td>
                        <td>Tarih: @item.Tarih</td>
                        <td>Vergi Dairesi : @item.VergiDairesi</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Açıklama</th>
                                        <th>Miktar</th>
                                        <th>Fiyat</th>
                                        <th>Tutar</th>
                                    </tr>
                                    @{
                                        var totalBill = 0;
                                    }
                                    @foreach (var item2 in item.FaturaKalems)
                                    {
                                        <tr>
                                            <td>@item2.Aciklama</td>
                                            <td>@item2.Miktar</td>
                                            <td>@item2.BirimFiyat</td>
                                            <td>@item2.Tutar</td>
                                        </tr>
                                        { totalBill = totalBill + @Convert.ToInt32(item2.Tutar); }
                                    }
                                </tbody>
                            </table>
                            <span class="pull-right" style="margin-right:100px;">
                                <strong>Toplam Tutar : @totalBill ₺</strong>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#ff6347">Fatura Detayları</h5>
                    <hr />
                    <div class="form-horizontal" style="display:flex;">
                        <input type="hidden" id="FaturaID" />
                        <div class="form-group col-6">
                            <label class="control-label col-12">
                                Seri No
                            </label>
                            <div class="col-12">
                                <input type="text" maxlength="1" id="FaturaSeriNo" name="FaturaSeriNo" placeholder="Seri Numarası" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Sıra No
                            </label>
                            <div class="col-12">
                                <input type="text" id="FaturaSiraNo" maxlength="10" name="FaturaSiraNo" placeholder="Sıra Numarası" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Tarih
                            </label>
                            <div class="col-12">
                                <input type="date" id="Tarih" name="Tarih" placeholder="Tarihi giriniz" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Saat
                            </label>
                            <div class="col-12">
                                <input type="text" id="Saat" name="Saat" placeholder="Saat giriniz" class="form-control mb-1" />
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label col-12">
                                Vergi Dairesi
                            </label>
                            <div class="col-12">
                                <input type="text" id="VergiDairesi" name="VergiDairesi" placeholder="Vergi dairesi giriniz" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Teslim Alan
                            </label>
                            <div class="col-12">
                                <input type="text" id="TeslimAlan" name="TeslimAlan" placeholder="Teslim Alan Cari/Personel" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Teslim Eden
                            </label>
                            <div class="col-12">
                                <input type="text" id="TeslimEden" name="TeslimEden" placeholder="Teslim eden kişi" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Toplam Tutar
                            </label>
                            <div class="col-12">
                                <input type="text" id="Toplam" name="Toplam" placeholder="Toplam Tutar" class="form-control mb-1" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#ff6347">Fatura Kalemleri</h5>
                    <hr />
                    <div class="form-horizontal" style="display:flex">
                        <div class="form-group col-6">
                            <label class="control-label col-12">
                                Açıklama
                            </label>
                            <div class="col-12">
                                <textarea rows="5" id="Aciklama" name="Aciklama" placeholder="Ürün/Birim açıklaması giriniz" class="form-control mb-1"></textarea>
                            </div>
                            <label class="control-label col-12">
                                Miktar
                            </label>
                            <div class="col-12">
                                <input type="text" id="Miktar" name="Miktar" placeholder="Miktar giriniz" class="form-control mb-1" />
                            </div>
                            <label class="control-label col-12">
                                Birim Fiyat
                            </label>
                            <div class="col-12">
                                <input type="text" id="BirimFiyat" name="BirimFiyat" placeholder="Birim fiyat giriniz" class="form-control mb-1" />
                            </div>
                            <br />
                            <div class="col-2">
                                <a id="addToList" class="btn btn-outline-primary" >Listeye Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <table id="detailsTable" class="table">
                            <thead>
                                <tr>
                                    <th style="width:30%">Açıklama</th>
                                    <th style="width:20%">Miktar</th>
                                    <th style="width:15%">Fiyat</th>
                                    <th style="width:25%">Tutar</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button id="saveOrder" type="submit" class="btn btn-danger">Fatura Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();
            console.log(e)

            if ($.trim($("#Aciklama").val()) == "" || $.trim($("#BirimFiyat").val()) == "" || $.trim($("#Miktar").val()) == "") return;

            var aciklama = $("#Aciklama").val(),
                miktar = $("#Miktar").val(),
                birimfiyat = $("#BirimFiyat").val(),
                detailsTableBody = $("#detailsTable tbody");
            console.log(detailsTableBody)
            var degerler = '<tr><td>' + aciklama + '</td><td>' + miktar + '</td><td>' + birimfiyat + '</td><td>' + (parseFloat(birimfiyat) * parseInt(miktar)) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(degerler);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#Aciklama").val('');
            $("#BirimFiyat").val('');
            $("#Miktar").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Fatura/FaturaKaydet",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    aciklama: $(this).find('td:eq(0)').html(),
                    miktar: $(this).find('td:eq(1)').html(),
                    birimfiyat: $(this).find('td:eq(2)').html(),
                    Tutar: $(this).find('td:eq(3)').html()
                });
            });


            var data = JSON.stringify({
                FaturaSeriNo: $("#FaturaSeriNo").val(),
                FaturaSiraNo: $("#FaturaSiraNo").val(),
                Tarih: $("#Tarih").val(),
                Saat: $("#Saat").val(),
                VergiDairesi: $("#VergiDairesi").val(),
                TeslimEden: $("#TeslimEden").val(),
                TeslimAlan: $("#TeslimAlan").val(),
                Toplam: $("#Toplam").val(),
                kalemler: orderArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>










