@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model FaturaKalem
@{
    ViewBag.Title = "FaturaKalemGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<div class="container-fluid">
    @using (Html.BeginForm("FaturaKalemGuncelle", "Fatura", FormMethod.Post))
    {
        <div class="form-group">
            <h2>Fatura Kalem Güncelleme</h2>
        </div>
        <hr />
        <div class="form-group">
            <label class="label">Fatura Kalem ID</label>
            @Html.TextBoxFor(x => x.FaturaKalemID, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label class="label">Açıklama</label>
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="label">Miktar</label>
            @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="label">Birim Fiyat</label>
            @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="label">Tutar</label>
            @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-block btn-primary">
                Güncelle
            </button>
        </div>
    }
</div>


