@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@{
    ViewBag.Title = "CariSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<SatisHareket>
<div class="container-fluid">
    <h2>Cari Satış Detay Sayfası</h2>
    <hr />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Departman Adı : @ViewBag.csts</li>
    </ol>
    <table class="table table-hover" id="tbl1">
        <thead>
            <tr>
                <th>Satış ID</th>
                <th>Ürün</th>
                <th>Personel</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Toplam</th>
                <th>Tarih</th>
                <th>Yazdır</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CariID</td>
                    <td>@item.Urunler.UrunAd</td>
                    <td>@item.Personel.PersonelAd</td>
                    <td>@item.Fiyat</td>
                    <td>@item.Adet</td>
                    <td>@item.ToplamTutar</td>
                    <td>@item.Tarih</td>
                    <td><a href="#" class="btn btn-dark">Yazdır</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

