@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model Cariler

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/SweetAlertGuncelle.js"></script>
<br />

@using (Html.BeginForm("CariGuncelle", "Cariler", FormMethod.Post))
{
<div class="container">
    <h2>Cari Güncelleme Sayfası</h2>
    <hr />
    <div class="form-group">
        <label class="labelAciklama">Cari ID</label>
        @Html.TextBoxFor(x => x.CariID, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label class="labelAciklama">Ad</label>
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color : red" })
    </div>
    <div class="form-group">
        <label class="labelAciklama">Soyad</label>
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color : red" })
    </div>
    <div class="form-group">
        <label class="labelAciklama">Şehir</label>
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="labelAciklama">Mail</label>
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="labelAciklama">Şifre</label>
        @Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button id="Button3" runat="server" class="btn btn-primary btn-block" onclick="return conFunction(this);">
            Güncelle
        </button>
    </div>
</div>
}



