@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model Personel

<link href="~/Content/style.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/SweetAlertEkle.js"></script>
<br />
<h2>Yeni Personel Sayfası</h2>
<hr />
@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.PersonelAd, new { @style = "font-size:21px" })
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PersonelSoyad, new { @style = "font-size:21px" })
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PersonelGorsel, new { @style = "font-size:21px" })
        @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
        <input type="file" name="PersonelGorsel" class="form-control-file" />
    </div>
    <div class="form-group">
        <label class="labelAciklama">Departman</label>
        @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="label" style="font-size:21px;">Adres</label>
        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="label" style="font-size:21px;">Mail</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="label" style="font-size:21px;">Hakkımda</label>
        @Html.TextAreaFor(x => x.Hakkımda, new { @class = "form-control", @rows = "5" })
    </div>
    <button id="Button3" runat="server" class="btn btn-primary btn-block" onclick="return conFunction(this);">Kaydet</button>
    <br />
    <br />
}



